*{
    margin: 0;
    padding: 0;
    /* color: white; */
    /* background-color: black; */
    font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
}

/* Importing fonts  */
/* fonts for nav  */

  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.bg-trans{
    background-color: transparent;
}
.bg-trans a li{
    background-color: transparent;
}
.heading{
    color: rgb(254,252,255);
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-size: 35px;
}
.sub-heading{
    color: rgb(254,252,255);
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
   font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 500;
}



/* Styling nav bar  */

nav {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    padding-top: 10px;
    


}
.right-nav ul{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.right-nav ul li{
    list-style: none;
    font-weight: 600;
    font-size: 43px;
}

.top-home{
    background-image: url("/computer-home.jpg");
    background-color: #db5252;
    background-size: cover;
    
}
.intro{
    padding: 0px 157px;
    padding-top: 250px;
    padding-bottom: 320px;
}

/* Main details from here  */

/* About me section  */

.about-me{
   
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: space-around;
}
.about-me-img{
    
    
}
.about-me-img img{
    width: 250px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    
}
.skill-details{
    
}
.Education-details{
    
}
.hover-skill:hover{
    
}
.hover-edu:hover{
    visibility: visible;
}
 
/* About me text styling  */
.about-me-text{
    margin-top: 30px;
}
.about-me-tabs ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.about-me-tabs li{
    list-style: none;
}

/* My services desing starts from here  */
.services{
    width: 80vw;
    margin: auto;
}
.services h2{
    margin: 10px 0px;
}
.service-card-container{
    display: flex;
    width: 80vw;
    margin: auto;
}
.service-card{
    
    margin: 0 10px;
    height: 214px;
    width: 270px;
    background-color:rgb(39,38,39);
    border-radius: 8px;
    
}
.service-card:hover{
    background-color:rgb(209,23,65);
}
.service-card h4{
    margin: 44px 11px 0px;
}

/* My work section  */
.My-work{
    width: 80vw;
    margin: auto;
    margin-top: 20px ;
    
}
.My-work h2{
    margin-bottom: 15px;
}
.work-card-container{
    display: flex;
    justify-content: space-between;
}
.work-card img{
    width: 294px;
    height: 169px;
    border-radius: 17px;
}
.work-card p{
    
    position: relative;
    bottom: 64px;
    left: 69px;
}


/* Footer styling from here  */
/* My contact details  */
.footer-container{
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}
#contact-heading{
    margin: 6px;
}
.contact-details{
    
    width: 25vw;
}
.contact-details div{
    margin-bottom: 10px;
}

/* My social handles  */
.social-handle-container{
    display: flex;
    margin: 15px 0 14px 0;
    
}
.social-handle-container div{
    margin-right: 10px;
    
}
.download-btn{
    margin-top: 5px;
    margin-left: 5px;
    width: 130px;
    padding: 10px;
    background-color: rgb(209,23,65);
    border: none;
    border-radius: 5px;
    color: white;
}
.my-form{
 
 width: 45vw;
}
form{
    display: flex;
    flex-direction: column;
}
.input1-2{
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
    background-color: rgb(34,34,34);
}
.input3{
    padding: 10px;
    border-radius: 7px;
    margin: 5px;
    height: 100px;
    background-color: rgb(34,34,34);
}
.submit-button{
    margin-top: 5px;
    margin-left: 5px;
    width: 100px;
    padding: 10px;
    background-color: rgb(209,23,65);
    border: none;
    border-radius: 5px;
    color: white;
}
